*{
	padding: 0;
	margin:0;	
}

body{
	font-family: Arial, sans-serif;
}
.menu-button{
	float: right;
}

.good-padding{
	padding:10px;
}
.good-height{
	height: 100%;
}
.good-margin{
	margin:10px;
}

.first-screen{
	width: 100%;
	float:left;
}

.menu-opened{
	width:50%;
}

.menu-layout{
	background-color: lightgrey;
	text-align: left;
	float:right;
	height: 100%;
}

.menu-layout__inn{
	position: relative;
	
}
.vh{
	width:100%;
	height:100vh;
	position:absolute;
	background-color: lightgrey;
}



.item{
	width:30%;
	margin: 12px 0px;
}

.hidden{
	display:none;
}

.entries{
	float: left;
	width: 50%;
}

.entry{
	float: left;
	width: 100%;
    padding: 6px 0px;
}

.item textarea {
	padding:5px;
}

.blank-text{
	color:lightgrey;
}